.card {
    border-radius: 10px;
    height: 100%;
    min-height: 340px;
    position: relative;
}
.card:hover {
    background: linear-gradient(180deg, #ff6060 85%, #000000a6 100%);
    cursor: pointer;
}

.card__img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.card:hover > .card__img {
    opacity: 0.30;
}

.card__overlay {
    background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card__title {
    bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    left: 20px;
    margin-right: 20px;
    position: absolute;
}

@media screen and (max-width: 1490px) {
    .card {
        min-height: 255px;
    }
}