.collapse {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;
  }
  
  .header__collapse {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 50px;
    width: 100%;
  }
  
  .title__collapse {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
  }
  
  .arrow__collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
  }
  .arrow__collapse:hover {
      cursor: pointer;
  }
  
  .arrow__collapse.true {
    justify-content: start;
    transform: rotate(-180deg);
  }
  
  .description__collapse {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    height: 75%;
    margin-top: -10px;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
  }